HF_TOKEN=
VGGT_MODEL_ID=facebook/VGGT-1B
ROOMFLY_VGGT_MAX_FRAMES=48
ROOMFLY_VGGT_MAX_POINTS=240000
ENABLE_SPLATFACTO=0
ROOMFLY_SPLAT_NUM_FRAMES=96
ROOMFLY_SPLAT_MAX_ITERATIONS=3500
ROOMFLY_SPLAT_BACKEND=da3_ply
ROOMFLY_DA3_MODEL_ID=depth-anything/DA3NESTED-GIANT-LARGE-1.1
ROOMFLY_DA3_NUM_FRAMES=16
ROOMFLY_DA3_USE_RAY_POSE=0
